<?xml version="1.0" encoding="UTF-8"?>
<configdata>

	<production>
		<debug>false</debug>
	    <database>
	        <adapter>pdo_mysql</adapter>
	        <params>
	            <host>localhost</host>
	            <username>user_medias</username>
	            <password>pass_medias</password>
	            <dbname>chatanoo_medias</dbname>
	        </params>
	    </database>
	    <mediasDirectory>Medias</mediasDirectory>
	</production>
	
	<preproduction extends="production">
		<debug>true</debug>
	    <database>
	        <adapter>pdo_mysql</adapter>
	        <params>
	            <host>localhost</host>
	            <username>root</username>
	            <password>root</password>
	            <dbname>MediaCenter</dbname>
	        </params>
	    </database>
	</preproduction>

	<development extends="production">
		<debug>true</debug>
	    <database>
	        <adapter>pdo_mysql</adapter>
	        <params>
	            <host>localhost</host>
	            <username>user_medias_pre</username>
	            <password>pass_medias_pre</password>
	            <dbname>chatanoo_medias_preprod</dbname>
	        </params>
	    </database>
	</development>

	<test extends="production">
		<debug>true</debug>
	    <database>
	        <adapter>pdo_mysql</adapter>
	        <params>
	            <host>localhost</host>
	            <username>root</username>
	            <password>root</password>
	            <dbname>MediaCenterTest</dbname>
	        </params>
	    </database>
	</test>

</configdata>